|===
|Path|Type|Description

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{#descriptorProperty}}{{description}}{{/descriptorProperty}}{{/tableCellContent}}

{{/fields}}
|===